* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.App {
   display: flex;
   justify-content: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 12px;
}